* {
    margin: 0;
    padding: 0;
    font-family:Roboto;
    font-size: 16px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100%;
    top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 1000;
    height: auto;
}

nav img{
    float: left;
    display: inline;
    padding-left: 46px;
    padding-top: 26px;
}

nav a {
    float: right;
    display: inline;
    text-decoration: none;
    padding: 10px;
    padding-top: 60px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

#dobrodosli::after{
    content: '';
    float: center;
    background-color: #0071B9;
    opacity: 30%;
}

#dobrodosli {
    background-image: url(fotografije/1.png);
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#firstPage{
    padding-left: 40px;
    padding-right: 40px;
    width:100%;
    top: 280px;
    height: 540px;
    position: absolute;
}
.dobrodosliTexBox {
    background-color: #0071B9;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
    padding: 30px;
    width: 600px;
    height: 100%;
    float: left;
    float: top;
}
#title{     
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    mix-blend-mode: hard-light;
}

#subtitle{
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 53px;
    margin-top: 151px;

    color: #FFFFFF;
}
.video{
    background-color: gray;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 20px;
    width: 960px;
    height: 100%;
    float: right;
    float: top;
}

.EBEC h2 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
    padding: 20px;
    letter-spacing: 5px;
    color: var(--primary-color);
}

section {
    height: 1080px;
    padding: 10px;
    margin: 10px;
    
    text-align: center;
}

footer {
    padding-top: 100px;
    margin-top: 150px;
    margin-bottom: 25px;
}

#ERROR {
    z-index: 2;
    display:none;
    width: fit-content;
    height: fit-content;
}

.ebecAmakModroOzadje{
    background-color: #0071B9;
    color: white;
}

.modraTabela{
    height: 335px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

#skupinskoNacrtovanjeText{
    width: 564px;
    height: 100%;
    margin: 30px;
}

#urnikTmp{
    background: #C4C4C4;
    width: 1115px;
    height: 313px;
    margin-left: auto;
    margin-right: auto;
}

#razvrstitevTmp{
    background: #C4C4C4;
    width: 1115px;
    height: 313px;
    margin-left: auto;
    margin-right: auto;
}

.debelaCrta{
    width: 465px;
    height: 11px;
    left: 726px;
    top: 1639px;
    background: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin: 30px;
}

#skupinskoNacrtovanjeNaslov{
    width: 513px;
    height: 47px;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
}

#trikotnikVDeso{
    width: 44px;
    height: 38px;
    left: 110px;
    top: 1611px;
    display: inline-block;
    background: #FFFFFF;
    transform: rotate(90deg);
}

.crtica{
    color: white;
    margin-left: 75px;
    margin-bottom: 50px;
    margin-right: 75px;
}

.ebecAmakModroOzadje h2{
    height: 41px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 41px;
}

#podNaslovLevo{
    margin-left: 75px;
}

#podNaslovDesno{
    text-align: right;
    margin-right: 75px;
}

#oNas{
    margin: 0%;
    padding: 0%;
}

#owl .item{
    margin: 3px;

  }
#owl .item img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 25px;
  }
div {
    margin-top: 50px;
    text-align: center;
}

.kontakt {
    background-color: #0071B9;
}
.kontakt h1 {
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom:10px;
}
.InsideKontakt{
    background-color: #FFFFFF;
}
