.AboutEBEC ,.oNasTex{
    text-align:justify;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
    margin-bottom: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 118.19%;
    /* or 35px */
    color: #000000;
}

.CrniH1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    color: #000000;
}


@media only screen and (max-height: 1080px) and (min-height: 901px){
    .AboutEBEC ,.oNasTex{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 50px;
        font-family: Roboto;
        font-size: 30px;

    }
    .dobrodosliTexBox{
        padding: 15px;
        width: 400px;
        height: 50%;
    }
    .CrniH1{
        font-family: Roboto;
        font-style: normal;
        font-weight: 800;
        font-size: 100px;
    
        color: #000000;
    
    }
    #subtitle{
        font-weight: 700;
        font-size: 30px;
    
        color: #FFFFFF;
    }
}

@media only screen and (max-height: 900px)  {
    .AboutEBEC ,.oNasTex{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 50px;
        font-family: Roboto;
        font-size: 15px;

    }
}
.ebecAmakModroOzadje h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
}

.ebecAmakModroOzadje h2{
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
}

#skupinskoNacrtovanjeText{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: justify;
}

#studijaPrimeraText{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: justify;
}
