.AboutEBEC ,.oNasTex{
    text-align:justify;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(16px, 30px, 60px);
    line-height: 118.19%;
    /* or 35px */
    color: #000000;
}

.CrniH1{

    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 100px;

    color: #000000;

}