@media only screen and (max-height: 900px)  {
    .AboutEBEC ,.oNasTex{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 50px;
        font-family: Roboto;
        font-size: 15px;

    }
    #subtitle{
        margin-top: 70px;
    }
    #firstPage, #dobrodosli{
        display:inline;
    }

    .video{
        float:left;
        margin: 20px;
        
    }
}

@media only screen and (max-height: 1080px) and (min-height: 901px){
    .AboutEBEC ,.oNasTex{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 50px;
        font-family: Roboto;
        font-size: 30px;

    }
    
    .CrniH1{
        font-family: Roboto;
        font-style: normal;
        font-weight: 800;
        font-size: 100px;
    
        color: #000000;
    
    }
    
}

@media only screen and (max-height: 900px) {
    #ERROR {
      display:block;
    }
    div ,h2, h1, section ,nav{
        display: none;
    }
    
  }