* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

html, body {
    height: 100%
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
}

#dobrodosli::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0071B9;
    opacity: 30%;
}

#dobrodosli {
    background-image: url(images/1.png);
    background-size: 100% 100%;
    position: relative;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#firstPage{
    padding-left: 40px;
    padding-right: 40px;
    width:100%;
    top: 20%;
    height: 60%;
    position: absolute;
}
.dobrodosliTexBox {
    background-color: #0071B9;
    text-transform: uppercase;
    border-radius: 10%;
    padding: 20px;
    width: 30%;
    height: 100%;
    float: left;
    float: top;
    display: inline-block; 
}

.video{
    background-color: gray;
    text-transform: uppercase;
    border-radius: 10%;
    padding: 20px;
    width: 68%;
    height: 100%;
    float: right;
    float: top;
    display: inline-block;
}

.dobrodosliTexBox .title {
    font-size: 2em;
}

.dobrodosliTexBox .subtitle {
    font-size: 1.2435em;
}

.EBEC h2 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
    padding: 20px;
    letter-spacing: 5px;
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 1.3em;
    text-transform: uppercase;
}

#menuToggle, #menuButton {
    display: none;
}
